@import"variables.css";
@import"global.css";
@import"navbar.css";
@import"header.css";
@import"about.css";
@import"projects.css";
@import"contact.css";
@import"footer.css";

.cntr{
    text-align:center;
}

.projectthumbnail{
    height:100px;
}

.linkbox{
    height:50px;
}