@keyframes projectbox_p_hover_in {
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes projectbox_p_hover_out {
    from {opacity:1;}
    to {opacity:0;}
}
@keyframes projectbox_img_hover_in{
    from {filter:grayscale(100%);margin-bottom:0;}
    to {filter:grayscale(0%);margin-bottom:10vh;}
}
@keyframes projectbox_img_hover_out{
    from {filter:grayscale(0%);margin-bottom:0vh;}
    to {filter:grayscale(100%);margin-bottom:10hv;}
}
.projectcontainer{
    position:relative;
}
.projectcontainer img{
    width:8vw;
    animation-name: projectbox_img_hover_out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.projectcontainer:hover img{
    animation-name: projectbox_img_hover_in;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.projectcontainer p{
    position:absolute;
    bottom:0;
    animation-name: projectbox_p_hover_out;
    animation-duration: 0s;
    animation-fill-mode: forwards;
}
.projectcontainer:hover p{
    animation-name: projectbox_p_hover_in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.projectboxcontainer{}